header {
background: rgba(91, 97, 168, 0.3);
height: 20%;
width: 100%;
text-align: left;
}
.floatingbutton {
  display: inline-block;
  width: 350px;
  height: 200px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px;
}
